:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-align: center;
}

.foodbox_main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  /* width: 10px; */
  margin-top: 40px;
}

.foodbox_main_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  padding: 10px;
  background: linear-gradient(grey,blue); 
  border: 2px solid rgb(199, 170, 170); 
}

.foodbox_main_left img {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
}

.foodbox_main_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  padding: 10px;
  background: linear-gradient(grey,blue); 
  border: 2px solid white; 
}

.foodbox_main_right button{
  background: grey; 
  border: none;
}
